demo_mqtt/build/
demo_mqtt/.vscode/

demo_spdlog/build/
demo_spdlog/.vscode/

demo_totg/build/

demo_yaml/build/
demo_yaml/.vscode/

demo_Eigen/build/
demo_Eigen/.vscode/

demo_cpp_tips/build/

demo_python/__pycache__
demo_python/d2l_practice/__pycache__
demo_python/d2l_practice/.venv/
demo_python/d2l_practice/data/
demo_python/rotation_fit/__pycache__
demo_python/rotation_fit/.venv/
demo_python/rotation_fit/dist
demo_python/rotation_fit/build
demo_python/.vscode/
demo_python/data/
demo_python/*.mha
demo_python/.venv/

demo_gtest/build/

demo_xenomai/build

demo_ros_controllers/build

_deps/
build/
log/
.vscode/